<% include ./functions %>
<div class="form-row type-2">
  <div class="col-12 period-type">
  <b>Standard View</b>
</div>
<div class="form-group col-md-4">
  <label for="stdPriorTonnage">Prior Tonnage Type</label>
  <select id="stdPriorTonnageType" disabled class="form-control std" data-source-set='' data-target-item='stdCurrentTonnage'  <%- isItemEnabled(timeframesType, 'stdPriorTonnage') %> data-timeframetype=<%= timeframesType %>>
      <option selected value='budgeted'>Budgeted</option>
  </select>
</div>
  <div class="form-group col-md-4">
    <label for="stdPriorTonnage">Prior Tonnage</label>
    <select id="stdPriorTonnage"  class="form-control std" data-source-set='' data-target-item='stdCurrentTonnage'   data-timeframetype=<%= timeframesType %>>
        <option selected>Choose...</option>
        <%- rederOptions(defaultDropdownValues.postDropDownValues) %>
    </select>
  </div>

<div class="form-group col-md-4">
  <label for="inputEmail4">Prior Cost Version</label>
   <select id="stdPriorCostVersion" class="form-control std" data-source-set='' data-target-item='stdCurrentCostVersion'   data-timeframetype=<%= timeframesType %> >
  <option selected>Choose...</option>
  <%- rederOptions(defaultDropdownValues.preDropDownValuesForCost) %>
  <%- rederOptions(defaultDropdownValues.postDropDownValuesForCost) %>
  </select>
</div>
<div class="form-group col-md-4">
  <label for="stdPriorTonnage">Current  Tonnage Type</label>
  <select id="stdCurrentTonnageType" disabled class="form-control std" data-source-set='' data-target-item='stdCurrentTonnage'  <%- isItemEnabled(timeframesType, 'stdPriorTonnage') %> data-timeframetype=<%= timeframesType %>>
      <option selected value='actuals'>Actuals</option>
  </select>
</div>
<div class="form-group col-md-4">
<label for="inputEmail4">Current Tonnage</label>
 <select id="stdCurrentTonnage" class="form-control std" data-source-set='' data-target-item='stdPriorTonnage' data-timeframetype=<%= timeframesType %>>
    <option selected>Choose...</option>
    <%- rederOptionsByCondition(defaultDropdownValues.postDropDownValues, timeframesType) %>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="inputEmail4">Current Cost Version</label>
     <select id="stdCurrentCostVersion" class="form-control std" data-source-set='' data-target-item='stdPriorCostVersion' data-timeframetype=<%= timeframesType %>>
    <option selected>Choose...</option>
    <%- rederOptions(defaultDropdownValues.postDropDownValuesForCost) %>
    </select>
  </div>`
</div>
<div class="modal-footer px-0">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary" id="continueToSave">Continue</button>
</div>
<% include ./add_new_modal_script_plant %>
