<%- include('components/header', {active: 'PLANT'}); %>
        <div id="home" class="header-hero bg_cover">

             <div class="container ">
               <div class="row text-right">
                 <div class="col-12">
                     <p class="txt">Latest updated for time frame - <b> P04 YTD</b></p>
                 </div>
               </div>
             </div>
            <div class="container header-hero-container">
                <div class="row">
                     <div class="col-12">
                        <div class="tiles-row">
                          <div class="header-hero-content text-center">
                              <i class="lni lni-world world"></i>
                              <h2 class="header-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">PLANT RVM</h2>
                            </div>
                          <a href='' class="tiles" data-toggle="tooltip" data-placement="top" title="RVM summarized across Leader | Regions | Countries | Departments | Cost Centers | Fiscal Periods">
                              <div class="tile-title">Executive RVM Dashboard <i class="lni lni-arrow-top-right"></i> </div>
                          </a>
                          <a href='' class="tiles" data-toggle="tooltip" data-placement="left" title="Plant specific RVM reporting, with the ability to drilldown across the following hierarchies Geographical | Fiscal | Standard Hierarchy | Plant | Product">
                              <div class="tile-title">PLANT RVM Dashboard  <i class="lni lni-arrow-top-right"></i> </div>
                          </a>
                          <a href="#"  data-toggle="modal" data-target="#staticBackdrop" class="tiles" data-toggle="tooltip" data-placement="top" title="Add a new version">
                              <div class="tile-title"><i class="lni lni-plus"></i> Add New Version</div>
                          </a>
                        </div>
                     </div>
                     <div class="col-12"  style="display:none;">
                        <div style="padding:20px;padding-left:32px; padding-right:32px;">
                       <div class="txt-title">Note-</div>
                       <p class="dasboard-note"><i>Dashboards contain 12 rolling months (from current month) of Actual Shipped Tonnage YTD RVM versions</i></p>
                       <div class="txt-title">Tonnage</div>
                       <p class="txt"><strong>Standard Views: </strong> Shipped Tonnage vs. Shipped Tonnage</p>
                       <p class="txt"><strong>Forecast Views: </strong> Shipped Tonnage (yearly) vs Forecasted Tonnage (yearly)</p>
                       <p class="txt"><strong>Cost Estimates:: </strong> Standard Cost Estimates (incorporating all cost component groups)</p>
                     </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header hero -->
        <div id="response"></div>
        <%- include('components/version_division', {viewType: 'Plant', versionData:versionData}) %>
        <%- include('components/version_add_new', {viewType: 'Plant'}) %>
        <%- include('components/page_back_to_top') %>
        <%- include('components/footer') %>
